
  /* for tablet version */
  @media  screen and (max-width: 768px){
    .home{
      flex-direction: column;
    }
    .about{
      flex-direction: column;
    }
    .home-content{
      max-width: 100%;
    }
    #menu-icon {
      display: block;
   }
   .navbar {
     position: absolute;
     top: 100%;
     left: 0;
     width: 100%;
     padding: 0 3% 2rem 3%;
     background: var(--bg-color);
     border-top: .1rem solid Orgba(0, 0, 0,.2);
     box-shadow: 0.5rem 1rem Orgba(0, 0, 0,.2);
     display: flex;
     flex-direction: column;
     font-size: 1rem;
     z-index: -10;
     display: none;
   }
   .navbar.active{
       display: block;
   }
   .navbar a{
       display: block;
       padding-top: 20px;
   }
    .header{
      width: 100%;
    }
    .logo {
      font-size: 2rem;
   }
    .home-content h1 {
      font-size: 50px ;
    }
    section {
      padding: 90px 8% 40px 8%;
    }
    /* about  */
    .about-content {
      padding-right: 0px; 
    }
    .about {
      padding: 60px 6% 50px 3%;
   }
   /* service */
   .myAllservice {
    flex-wrap: wrap;
   }
   /* project */
   .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
   }
  }


  /* mobile version */
@media  screen and (max-width: 425px){
  .logo{
    font-size: 2rem;
  }
  section {
    height: auto;
    padding: 90px 8% 40px 8%;
  }
  .header{
    width: 90%;
  }
  .home{
    flex-direction: column-reverse;
    gap: 0px;
  }
  .home-content h1 {
    font-size: 33px;
  }
  .home-content h3 {
    font-size: 20px; 
   }
  .about{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about-img img{
    width: 100%;
  }
  .about-content {
    padding-right: 0px;
  }
  .myAllservice{
    flex-direction: column;
  }
  .heading {
    font-size: 30px;
   }
  .portfolio-container{
    grid-template-columns: 1fr;
  }
  .services-box h3 {
    font-size: 20px;
  }  
  .services-container .services-box {
    padding: 23px 15px 28px 15px;
  }
  .contact form .input-box {
    flex-direction: column;
  }
  .contact form .input-box input {
    width: 100%;
  }
  .footer{
    flex-wrap: nowrap;
  }
  .footer-text p{
    font-size: 14px;
  }
}

  /* mobile version */

